{% extends "index1.html" %}
{% block title %}Personal Information{% endblock %}
{% block head %}<h1> Personal Information</h1>{% endblock %}
{% block footer %}<div class="w3-container">
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>Patient ID:</td>
        <td>73892467</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>Ivan</td>
      </tr>
      <tr>
        <td>Surname:</td>
        <td>Busha</td>
      </tr>
      <tr>
        <td>DOB:</td>
        <td>06/02/2000</td>
      </tr>
      <tr>
        <td>Telephone Number:</td>
        <td>+447508738811</td>
      </tr>
      <tr>
        <td>Nationality:</td>
        <td>Russian</td>
      </tr>
      <tr>
        <td>Name of GP:</td>
        <td>Mr. Smith</td>
      </tr>
      <tr>
        <td>Last blood test:</td>
        <td>12/02/2020</td>
      </tr>
    </table>
  </div>
  {% endblock %}
